.navbar-toggler[b-8wcqqoieps] {
  appearance: none;
  cursor: pointer;
  width: 3.5rem;
  height: 2.5rem;
  color: white;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-8wcqqoieps] {
  background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-8wcqqoieps] {
  min-height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-8wcqqoieps] {
  font-size: 1.1rem;
}

.bi[b-8wcqqoieps] {
  display: inline-block;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.75rem;
  top: -1px;
  background-size: cover;
}

.bi-house-door-fill-nav-menu[b-8wcqqoieps] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-8wcqqoieps] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-8wcqqoieps] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-book-nav-menu[b-8wcqqoieps] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M1 2.828c.885-.37 2.154-.76 3.5-.828C5.846 1.94 7.115 2.63 8 3.293c.885-.663 2.154-1.354 3.5-1.293 1.346.068 2.615.458 3.5.828V14c-.885-.37-2.154-.76-3.5-.828-1.346-.068-2.615.458-3.5.828-.885-.37-2.154-.76-3.5-.828C3.154 13.24 1.885 13.63 1 14V2.828z'/%3E%3C/svg%3E");
}

.bi-collection-nav-menu[b-8wcqqoieps] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' class='bi bi-collection' viewBox='0 0 16 16'%3E%3Cpath d='M2.5 3a.5.5 0 0 0-.5.5V5h12V3.5a.5.5 0 0 0-.5-.5h-11z'/%3E%3Cpath d='M0 6v7a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6H0zm1 1h14v6a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7z'/%3E%3Cpath d='M2.5 0A2.5 2.5 0 0 0 0 2.5V3h16v-.5A2.5 2.5 0 0 0 13.5 0h-11z'/%3E%3C/svg%3E");
}

.bi-journal-plus-nav-menu[b-8wcqqoieps] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' class='bi bi-journal-plus' viewBox='0 0 16 16'%3E%3Cpath d='M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z'/%3E%3Cpath d='M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1H2v.5a.5.5 0 0 1-1 0V6h-.5a.5.5 0 0 1 0-1H1z'/%3E%3Cpath d='M5.5 7a.5.5 0 0 0 0 1H7v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H8V5.5a.5.5 0 0 0-1 0V7H5.5z'/%3E%3C/svg%3E");
}

.bi-person-circle-nav-menu[b-8wcqqoieps] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' class='bi bi-person-circle' viewBox='0 0 16 16'%3E%3Cpath d='M13.468 12.37C12.758 11.226 11.486 10.5 10 10.5H6c-1.486 0-2.758.726-3.468 1.87A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z'/%3E%3Cpath fill-rule='evenodd' d='M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'/%3E%3Cpath fill-rule='evenodd' d='M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1z'/%3E%3C/svg%3E");
}

.bi-box-arrow-right-nav-menu[b-8wcqqoieps] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' class='bi bi-box-arrow-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M10 12.5a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 13H10.5a.5.5 0 0 1-.5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M4.5 15A1.5 1.5 0 0 1 3 13.5v-11A1.5 1.5 0 0 1 4.5 1h6A1.5 1.5 0 0 1 12 2.5V5a.5.5 0 0 1-1 0V2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0-.5.5v11a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 .5-.5V11a.5.5 0 0 1 1 0v2.5A1.5 1.5 0 0 1 10.5 15h-6z'/%3E%3C/svg%3E");
}

.nav-item[b-8wcqqoieps] {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-8wcqqoieps] {
  padding-top: 1rem;
}

.nav-item:last-of-type[b-8wcqqoieps] {
  padding-bottom: 1rem;
}

.nav-item[b-8wcqqoieps]  .nav-link {
  color: #d7d7d7;
  background: none;
  border: none;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
  width: 100%;
}

.nav-user[b-8wcqqoieps] {
  color: #d7d7d7;
  font-weight: 500;
}

.nav-item[b-8wcqqoieps]  a.active {
  background-color: rgba(255, 255, 255, 0.37);
  color: white;
}

.nav-item[b-8wcqqoieps]  .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.nav-scrollable[b-8wcqqoieps] {
  display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-8wcqqoieps] {
  display: block;
}

@media (min-width: 641px) {
  .navbar-toggler[b-8wcqqoieps] {
    display: none;
  }

  .nav-scrollable[b-8wcqqoieps] {
    /* Never collapse the sidebar for wide screens */
    display: block;

    /* Allow sidebar to scroll for tall menus */
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
  }
}
.logout-button[b-8wcqqoieps] {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  background: none;
  border: none;
  color: #d7d7d7;
}

.logout-button:hover[b-8wcqqoieps] {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
